{% extends 'base.html' %}
{% load static %}

{% block content %}
<form method="post" id="personForm" data-course-url="{% url 'school_store:ajax_load_course' %}" novalidate>
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <button type="submit">Save</button>
  </form>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $("#id_department").change(function () {
      const url = $("#personForm").attr("data-course-url");
      const departmentId = $(this).val();

      $.ajax({
        url: url,
        data: {
          'department_id': departmentId
        },
        success: function (data) {
          $("#id_course").html(data);
        }
      });

    });
  </script>

</div>
 {%for msg in messages%}
 {{msg}}
 {%endfor%}
</div>
{% endblock %}
